<?xml version="1.0" encoding="utf-8"?>
<configuration status="warn">
    <appenders>
        <console name="console" target="system_out">
            <patternlayout pattern="%d{hh:mm:ss.sss} [%t] %-5level %logger{36} - %msg%n"/>
        </console>
    </appenders>
    <loggers>
        <logger name="io.github.yakirchen.mybatis.core" level="debug" additivity="false">
            <appenderref ref="console"/>
        </logger>
        <root level="debug">
            <appenderref ref="console"/>
        </root>
    </loggers>
</configuration>